<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Select Job Names to Extract</h3>
    </div>
    <div class="panel-body row">
        <div class="col-md-12">
            <p>Please select the names of the 'jobs' you would like to extract:</p>
        </div>
        <div class="col-md-12">
            {{jg-selectize options=options id='jobnames'}}
        </div>  
    </div>
</div>  